.logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}
.logo img{
width: 300px;;
    
}

.pokeApi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-poke{
    display: flex;
    flex-direction: column;
    
   
    
}
.container-poke div {
    display: flex;
    flex-wrap: wrap;
    
}
.gallery{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem
   
    
    ;
}

.gallery figure {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    border: 1px solid #286EB5;
    border-radius: 12px;    
    padding: 1rem;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.gallery figure img:hover{
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
}

.gallery figure img{
 width:85%;
 height: 200px;
 
 

}

.nav{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 0 4rem;
gap: 2rem;
margin-bottom: 4rem;



}

.nav button{
    width: 65px;
    height: 2.4rem;
    border: 4px solid #286EB5;
    border-radius: 50%;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    background-color: #FFCC01;
    box-shadow: rgba(17, 17, 26, 0.3) 8px 8px 16px;

}

.nav button:hover{
    background-color: #f3f0af;
}

.input {
    width: 20%;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    margin-right: 1.5rem;
 
}

.input::placeholder {
    color:black;
}

.inputDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;


}
.inputDiv button {
    display: flex;
    align-items: center;
}
 .backBtn{
   background: none;
   border: none;
   padding-left: 6rem;
   gap: 1.5rem;
   font-size: 20px;
 }
.backBtn img{
    width: 30px;
}

.all{
    width: 30%;
    border-radius: 10%;
    
}
.titleCard {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    justify-content:space-around;
    
}

.titleCard h3 {
    font-size: 0.9rem;
}
.cara{
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.loading{
    border-radius: 1px solid red;
    width: 100%;
    z-index: 10000;
    display: flex;


}

.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem;
    
}
.loading-icon img{
    width:50px ;
    height: 50px;
    position: relative;
    text-align: center;
    justify-content: center;
    animation: spin 1s linear infinite; 

}



@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

 .grass{
  background-color: rgb(25, 216, 152);
}

.poison{
background-color: #d579f4;

}
.fire {
    background-color: #f8bd66;

}
.water{
    background-color: #5d9ddd;
}
.electric{
   background-color: #f5f174;
    
}

.ground{
    background-color: #e1bd9e;
    
}

.fairy{
    background-color: #f7c8eb;
}

.fighting{
   background-color: #9c9fa6;
}

.psychic{
    background-color: #ff90b5;
}

.rock{
    background-color: #b08e74;
}

.ice{
 background-color: #a5caef;
}
.ghost{
    background-color: #d2d2d2;
}
.dragon{
    background-color: #f09d4b;
}

.bug{
    background-color: #ccabd7;
}

.normal{
    background-color: rgb(246, 238, 238);
}
