@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

header {
height: 10vh;
display: flex;
justify-content:space-between;
text-align: center;
padding: 2rem 6rem;
}

html{
    scroll-behavior: smooth;
}

body{
    transition: all 0.3s ease-in-out;
    background-color: rgb(171, 230, 214);
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
}
