.themeBtn{
    width:3rem;
    height: 3rem;
    transform: scale(2.5);
    background: none;
    border: none;
    padding-top: 0.5rem;
}

.logout img{
    width: 31px;
    

}
.logout{
    background:none;
    border: none;
}

.hidden{
    background-color: black;
    
}