.sectionhome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     

}

.bola{
    width: 100px;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
   
}

@media screen and (max-width:1200px){
    .home{
        flex-direction: column;
    }
    
}
.ticBtn{
    grid-column: 2;
    grid-row: 2;
}

.home div{
    border: 1px solid black;
    
}

.piedraBtn {
    width: 200px;
}

.quizBtn{
width: 200px;
}

.ticBtn{
width: 200px;

}

.sectionhome h1{
    text-align: center;
}